<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout :: site-head">>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:replace="layout :: doctor-header"></header>
<h2 style="text-align: center">Add Pacient in your book</h2>
<form th:action="@{/tryAddPacient}" method="POST">
    Name of Pacient : <input type="text" name="name"/> <br/><br/>
    Illness of Pacient: <input type="text" name="illness"/> <br/><br/>
    <input type="submit" value="Add"/>
</form>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>