<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout :: site-head">>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<header th:replace="layout :: site-header"></header>
<form th:action="@{/tryLogin}" method="POST">
    User Name : <input type="text" name="nickName"/> <br/><br/>
    Password: <input type="password" name="password"/> <br/><br/>
    <input type="submit" value="Login"/>
</form>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>