<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout :: site-head">>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:replace="layout :: pacient-header"></header>
<h2 style="text-align: center">Add Doctor</h2>
<form th:action="@{/tryAddDoctor}" method="POST">
    Name of Doctor : <input type="text" name="name"/> <br/><br/>
    Specialization of Doctor: <input type="text" name="specialization"/> <br/><br/>
    <input type="submit" value="Add"/>
</form>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>