<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout :: site-head">>
    <title>Pacient List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:replace="layout :: site-header"></header>
<div>
<p th:text="'Pacient List'" />
<br/>
    <div id="tables">
    <table>
        <tr>
            <th>Name</th>
            <th>EGN</th>
        </tr>

        <tr th:each="pacient : ${pacs}">

            <td th:text="${pacient.name}"> NAME'</td>
            <td th:text="${pacient.egn}"> EGN'</td>


        </tr>

    </table>
    </div>
</div>
<footer th:replace="layout :: site-footer"></footer>

</body>
</html>