<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout :: site-head">>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:replace="layout :: site-header"></header>
<h2 style="text-align: center">Register</h2>
<form id="forms" action="#" th:action="@{/pacientList}" th:object="${PacientDto}" method="post">
    <p>nickName:<br/> <input type="text" th:field="*{nickName}" /></p>
    <p>password:<br/> <input type="text" th:field="*{password}" /></p>
    <p>name: <br/> <input type="text" th:field="*{name}" /></p>
    <p>egn: <br/> <input type="text" th:field="*{egn}"/></p>
    <p>illness: <br/> <input type="text" th:field="*{illness}"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>